<div id="xbc_nav">
  <el-menu
  :default-active="activeIndex"
  background-color="#333"
  text-color="#fff"
  class="el-menu-demo"
  mode="horizontal"
  @select="handleSelect">
    <% if student_signed_in? %>
      <el-submenu index="1" style="float: right">
        <template slot="title"><%= current_student.name %></template>
        <el-menu-item index="5-1"><%= link_to "编辑账户", edit_user_path(current_student) %></el-menu-item>
        <el-menu-item index="5-２"><%= link_to "个人信息", current_student %></el-menu-item>
        <el-menu-item index="5-３"><%= link_to "登出", studentsignout_path, method: :delete %></el-menu-item>
      </el-submenu>
    <% else %>
      <el-menu-item index="4" style="float: right;">注册</el-menu-item>
      <el-menu-item index="5" style="float: right;" v-on:click="signInFormVisible = true">登录</el-menu-item>
    <% end %>

    <sign-in-form
      v-bind:visible="signInFormVisible"
      v-on:close="closeForm"
      v-on:sign-as="signAs($event)">
    </sign-in-form>
  </el-menu>
</div>

<%= render 'shared/sign_in_form' %>

<script>
  var vm = new Vue({
    el: '#xbc_nav',
    components: {
      'sign-in-form': sign_in_form
    },
    data: {
      activeIndex: '0',
      signInFormVisible: false,
    },
    methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      },
      closeForm() {
        this.signInFormVisible = false;
      }
    }
  })
</script>

<style>

</style>