<p id="notice"><%= notice %></p>
<%= link_to "Student Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>主题</th>
      <th>创建人</th>
      <th>创建时间</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.topic, post %></td>
        <td><%= post.contact_person %></td>
        <td><%= post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
