<!DOCTYPE html>
<html>
  <head>
    <title>XBCampus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if content_for? :vue %>
      <%= yield(:vue) %>
    <% end %>
  </head>

  <body>
    <div id="user-stat">
      <% if company_signed_in? %>
        Logged in as <strong><%= current_company.email %></strong>.
        <%= link_to 'Edit profile', edit_company_registration_path %> |
        <%= link_to "Logout", destroy_company_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_company_registration_path %> |
        <%= link_to "Login", new_company_session_path %>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
