<!DOCTYPE html>
<html>
  <head>
    <title>今天吃什么</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if content_for? :vue %>
      <%= yield(:vue) %>
    <% end %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-apple-title" content="WTE">
    <link rel="apple-touch-icon" href="<%= image_url('valentine.png') %>"
  </head>

  <body>
    <%= yield %>
  </body>
</html>
